/* page indicator left side */
.page_indicator{
    margin: 0;
    margin-left: 15px;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5%;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: var(--base_beige_primary);
    border-radius: 50%;
    display: block;
    margin: 20px;
    transition: 0.3s;
}

.indicator:hover{
    background-color: var(--base_beige_secondary);
}

.indicator.active{
    background-color: var(--base_beige_secondary);
}

/* HOME */
.main_page{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100vw);
    display: relative;
    z-index: -2;
    height: calc(100vh);
}


@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .main_page {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100vw);
        display: relative;
        z-index: -2;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
    }

    section{
        height: 100vh;
        scroll-snap-align: start;
    }
}


.home{
    background: url("../images/noodle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);

    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    display: flex; /* none */
    justify-content: end;
    align-items: flex-end;
}

.home .content{
    color: var(--base_beige_secondary);
    font-size: 12vh;
    line-height: 90%;
    margin-right: 4%;
    margin-bottom:10%;
    cursor: pointer;
}

.home .content .l1{
    font-size: 5vh ;
    line-height: 90%;
}

.home .content .l2{
    font-size: 3vh ;
    line-height: 80%;
}

/* HISTORY */
.history{
    z-index: -1;
    width: 100%;
    color: var(--base_beige_secondary);
    background-color: var(--base_grey_primary);
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
}

.history .content {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.history .content .img{
    width: 40vw;
    height: 40vw;
    background: url("../images/lee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset 19vw 0 27vw 0 rgba(12, 7, 5, 0.8);
    margin-top: 6%;
}

.history .content .text{
    width: 60%;
    font-size: 1.7vw;
    text-align: justify;
    position: absolute;
    left:6%;
}

.history .l1{
    font-size: 5vw;;
}

/* TODAY */
.today{
    z-index: -1;
    width: 100%;
    color: var(--base_beige_secondary);
    background-color: var(--base_grey_primary);
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 -8vw 16vw -7vw rgba(0, 0, 0, 0.8);
    transition: 1s;
}

.today .content {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.today .content .img{
    width: 40vw;
    height: 40vw;
    background: url("../images/brooklyn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset -15vw -1vw 11vw -2vw rgba(18, 13, 4, 0.7);
    margin-top: 6%;
    margin-left: 6%;
}

.today .content .text{
    width: 60%;
    font-size: 1.7vw;
    text-align: justify;
    position: absolute;
    right:6%;
}

.today .l1{
    font-size: 5vw;;
}

/* RESPONSIVE <= 600 */
.rehistory, .retoday {
    z-index: -1;
    height: calc(100vh);
    width: 100%;
    color: var(--base_beige_secondary);
    background-color: var(--base_grey_primary);
    display: flex;
    flex-direction: column;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
}

.rehistory .recontent, .retoday .recontent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

.rehistory .recontent .reimg{
    width: 80vw;
    height: 35vw;
    background: url("../images/lee.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset 12vw -25vw 37vw 0 rgba(12, 7, 5, 0.8);
}

.retoday .recontent .reimg{
    width: 80vw;
    height: 50vw;
    background: url("../images/brooklyn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset 12vw -25vw 37vw 0 rgba(12, 7, 5, 0.8);
}

.rehistory .recontent .retext, .retoday .recontent .retext{
    width: 76vw;
    font-size: 3.7vw;
    text-align: justify;
}

.rehistory .l1, .retoday .l1{
    font-size: 5vw;;
}

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
    .home{
        /* shadow queue: right, left, top */
       box-shadow: inset -58vw 0 61vw -9vw rgba(0, 0, 0, 0.8), 
                   inset 13vw 0 44vw 9vw rgba(0, 0, 0, 0.8), 
                   inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
    }

}

@media only screen and (max-width: 600px) {
    .home .content{
        color: var(--base_beige_secondary);
        font-size: 11vh;
        line-height: 90%;
        margin-right: 4%;
        margin-bottom:10%;
        cursor: pointer;
    }
    
}

