/* MENU */
.menu{
     background-color: var(--base_grey_primary);
 
     /* shadow queue: right, left, top */
     box-shadow: inset -4vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                     inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                     inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
 
     height: calc(100vh);
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
 
 .menu .content{
     color: var(--base_beige_secondary);
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     margin-left: 5vh;
     margin-right: 5vh;
 }
 
 
 .dishes{
     color: var(--base_grey_primary);
     margin: 1vh;
     border-radius: 10px;
     width: 100%;
     height: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 6vh;
     text-align: left;
     font-size: 3vh;
     /* top, right, bottom, left 
     padding: 10vh 2.5vh 10vh 2.5vh; */
 }
 
 .dish{
     font-size: 3.2vh;
     color:var(--base_grey_primary);
     font-family: var(--modern_font_family);
     font-style: normal;
     font-weight: 700;
     letter-spacing: 0.5vw;
 
 }

.rice{
     background: url("/Users/stephanie/VSC/webdev/noodlee/images/rice.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .ramen{
     background: url("/Users/stephanie/VSC/webdev/noodlee/images/ramen.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .udon{
     background: url("/Users/stephanie/VSC/webdev/noodlee/images/udon.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .scroll_nav{
     display: relative;
     z-index: 1;
     width: 100%;
     height: 60%;
     position: fixed;
     color: #0b0b0b;
      /* shadow queue: right, left, top */
     box-shadow: inset 0 39vw 11vw -25vw rgb(11, 11, 11);
 }

 /* RESPONSIVE */
@media only screen and (max-width: 884px) {
     .scroll_nav{
         display: relative;
         z-index: 1;
         width: 100%;
         height: 60%;
         position: fixed;
         color: #0b0b0b;
          /* shadow queue: right, left, top */
         box-shadow: inset 0 58vw 15vw -29vw #0b0b0b;
     }
 
     .dishes{
         width: 90%;
     }
 }