/* MENU */
.menu{
     background-color: var(--base_grey_primary);
 
     /* shadow queue: right, left, top 
     box-shadow: inset 0 81vw 29vw -38vw rgba(11, 11, 11, 0.8);*/
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .menu .content{
     color: var(--base_beige_secondary);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     padding-top: 20vh;
     padding-bottom: 10vh;
 }
 
 .menu .content .text{
     font-size: 5vh;
     width: 70%;
     text-align: center;
     color: var(--base_beige_primary);
     display: none;
 }
 
 .main_dishes{
     width: 70%;
     line-height: 6vh;
     text-align: left;
     font-size: 4vh;
 }
 
 .dish{
     padding-top: 8vh;
     padding-bottom: 1vh;
     font-size: 5vh;
     color:var(--base_beige_primary);
     font-family: var(--modern_font_family);
     font-style: normal;
     font-weight: 700;
     letter-spacing: 0.5vw;
 
 }
 
 .scroll_nav{
     display: relative;
     z-index: 1;
     width: 100%;
     height: 60%;
     position: fixed;
     color: #0b0b0b;
      /* shadow queue: right, left, top */
     box-shadow: inset 0 39vw 11vw -25vw rgb(11, 11, 11);
 }

 /* RESPONSIVE */
@media only screen and (max-width: 884px) {
     .scroll_nav{
         display: relative;
         z-index: 1;
         width: 100%;
         height: 60%;
         position: fixed;
         color: #0b0b0b;
          /* shadow queue: right, left, top */
         box-shadow: inset 0 58vw 15vw -29vw #0b0b0b;
     }
 
     .main_dishes{
         width: 90%;
     }
 }