/* header with navigation and logo */
header{
    padding: 20px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/* all text elements in header*/
header a{
    text-decoration: none;
    color: var(--base_beige_primary);
    font-size: 5vh;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

/* nav items */
header a:hover{
    color: var(--base_beige_secondary);
}

.navigation a.active {
    color: var(--base_beige_secondary);
}
      
.icon {
    position: absolute;
    right: 8%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.logo{
    position: absolute;
    left: 2%;
}

.logo a{
    margin-left: 0;
    color: var(--base_beige_secondary);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.logo img{
    height: 40px;
}

/* RESPONSIVE */
@media only screen and (max-width: 884px) {

    .navigation a {
        display: none;
    }

    .icon {
        visibility: visible;
        opacity: 1;
    }

    .navigation.open {
        position: absolute;
        right: 0;
        top: 24%;
        padding-top: 10%;
        padding-right: 9%;
        padding-bottom: 5%;
        border-radius: 2%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navigation.open a {
        z-index: 20;
        display: block;
        text-align: right;
        position: relative;
    }
}
    