/* header with navigation and logo */
header{
    padding: 20px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}

/* all text elements in header*/
header a{
    text-decoration: none;
    color: var(--base_beige_primary);
    font-size: 5vh;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

/* nav items */
header a:hover{
    color: var(--base_beige_secondary);
}

.navigation a.active {
    color: var(--base_beige_secondary);
}
      
.icon {
    position: absolute;
    right: 55px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.logo{
    position: absolute;
    left: 2%;
}

.logo a{
    margin-left: 0;
    color: var(--base_beige_secondary);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.logo img{
    height: 40px;
}




/* RESPONSIVE */
@media only screen and (max-width: 1400px) {

    .navigation a {
        display: none;
    }

    .icon {
        visibility: visible;
        opacity: 1;
    }


    .navigation.open {
        position: absolute;
        height: calc(100vh);
        right: 0;
        top: 0;
        padding-top: 100px;
        padding-right: 55px;
        padding-bottom: 5%;
        border-radius: 2%;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 9vh;
        animation: slidein 1s cubic-bezier(0, 0.79, 0.56, 1.01);
    }

    .navigation.open a {
        z-index: 20;
        display: block;
        text-align: right;
        position: relative;
        animation: slidein 1s cubic-bezier(0, 0.74, 0.72, 1);
    }

    @keyframes slidein {
        0% {
          right: -600px;
        }
        100% {
          right: 0px;
        }
    }


    .navigation.close{
        position: absolute;
        height: calc(100vh);
        right: -700px;
        top: 0;
        padding-top: 100px;
        padding-right: 55px;
        padding-bottom: 5%;
        border-radius: 2%;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 9vh;
        animation: slideout 1s cubic-bezier(0.47, 0.15, 0.93, 0.74)
        
    }

    .navigation.close a {
        z-index: 20;
        display: block;
        text-align: right;
        position: relative;
        animation: slideout 1s cubic-bezier(0.59, 0.35, 0.91, 0.74)
    }

    @keyframes slideout {

        0% {
            right: 0px;
          }
        100% {
            right: -700px;
        }
    }

}
    