@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700;6..96,800&display=swap');

:root{
    --base_font_color: #262626;

    --base_grey_primary: #262626;
    --base_grey_secondary: #505050;

    --base_beige_primary: #9a866f;
    --base_beige_secondary: #E6DCD2;

    --base_green_primary: #63561D;
    --base_green_secondary: #C3AC63;

    --base_font_family: 'Bodoni Moda', serif;
}

body, html{
    height: 100%;
    background-color: var(--base_grey_primary);
    margin: 0;
    color: var(--base_grey_primary);
    font-family: var(--base_font_family);  
}

body{
    background: url("images/noodle.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
}

/* header woth navigation and logo */

header{
    padding: 20px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    text-decoration: none;
    color: var(--base_beige_primary);
    font-size: 5vh;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

nav a:hover{
    color: var(--base_beige_secondary);
}

.logo{
    position: absolute;
    left: 2%;
}

.logo a{
    margin-left: 0;
    color: var(--base_beige_secondary);
}

#logo{
    height: 40px;
}

/* page indicator left side */

.page_indicator{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 10%;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: var(--base_beige_primary);
    border-radius: 50%;
    display: block;
    margin: 20px;
    transition: 0.3s;
}

.indicator:hover{
    background-color: var(--base_beige_secondary);
}

#indicator_1{
    background-color: var(--base_beige_secondary);
}

#home{
    color: var(--base_beige_secondary);
}

/* landing page */

.first{
    position: absolute;
    top: 65%;
    right: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:50%;
}

.first .content{
    color: var(--base_beige_secondary);
    font-size: 12vh;
    align-content: right;
    line-height: 90%;
}

.history{
    float: right;
}

.history .primary{
    font-size: 5vh ;
    line-height: 90%;
}

.history .secondary{
    font-size: 3vh ;
    line-height: 80%;
}
