@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700;6..96,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --base_font_color: #262626;

    --base_grey_primary: #262626;
    --base_grey_secondary: #505050;

    --base_beige_dark: #453d34;
    --base_beige_primary: #9a866f;
    --base_beige_secondary: #E6DCD2;

    --base_green_primary: #63561D;
    --base_green_secondary: #C3AC63;

    --base_font_family: 'Bodoni Moda', serif;
    --modern_font_family: 'Quicksand', sans-serif;
}

body, html{
    position: relative;
    background-color: var(--base_grey_primary);
    margin: 0;
    color: var(--base_grey_primary);
    font-family: var(--base_font_family);  
    z-index: -20;
}

/* header with navigation and logo */
header{
    padding: 20px;
    height: 10%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

/* all text elements in header*/
header a{
    text-decoration: none;
    color: var(--base_beige_primary);
    font-size: 5vh;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

/* nav items */
header a:hover{
    color: var(--base_beige_secondary);
}

.navigation a.active {
    color: var(--base_beige_secondary);
}
  
.icon {
    position: absolute;
    right: 8%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.logo{
    position: absolute;
    left: 2%;
}

.logo a{
    margin-left: 0;
    color: var(--base_beige_secondary);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.logo img{
    height: 40px;
}

/* page indicator left side */
.page_indicator{
    margin: 0;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 10%;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: var(--base_beige_primary);
    border-radius: 50%;
    display: block;
    margin: 20px;
    transition: 0.3s;
}

.indicator:hover{
    background-color: var(--base_beige_secondary);
}

.indicator.active{
    background-color: var(--base_beige_secondary);
}

/* HOME */
.home{
    background: url("images/noodle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
    transition: 1s;

    height: calc(100vh);
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    display: flex; /* none */
    justify-content: end;
    align-items: flex-end;
}

.home .content{
    color: var(--base_beige_secondary);
    font-size: 12vh;
    line-height: 90%;
    margin-right: 4%;
    margin-bottom:10%;
    cursor: pointer;
}

.home .content .l1{
    font-size: 5vh ;
    line-height: 90%;
}

.home .content .l2{
    font-size: 3vh ;
    line-height: 80%;
}

/* HISTORY */
.history{
    z-index: -1;
    height: calc(100vh);
    width: 100%;
    color: var(--base_beige_secondary);
    background-color: var(--base_grey_primary);
    justify-content: center;
    align-items: center;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
    transition: 1s;
}

.history .content {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.history .content .img{
    width: 40vw;
    height: 40vw;
    background: url("images/lee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset 19vw 0 27vw 0 rgba(12, 7, 5, 0.8);
    margin-top: 6%;
}

.history .content .text{
    width: 60%;
    font-size: 1.7vw;
    text-align: justify;
    position: absolute;
    left:6%;
}

.history .l1{
    font-size: 5vw;;
}

/* TODAY */
.today{
    z-index: -1;
    height: calc(100vh);
    width: 100%;
    color: var(--base_beige_secondary);
    background-color: var(--base_grey_primary);
    justify-content: center;
    align-items: center;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 -8vw 16vw -7vw rgba(0, 0, 0, 0.8);
    transition: 1s;
}

.today .content {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.today .content .img{
    width: 40vw;
    height: 40vw;
    background: url("images/brooklyn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset -15vw -1vw 11vw -2vw rgba(18, 13, 4, 0.7);
    margin-top: 6%;
    margin-left: 6%;
}

.today .content .text{
    width: 60%;
    font-size: 1.7vw;
    text-align: justify;
    position: absolute;
    right:6%;
}

.today .l1{
    font-size: 5vw;;
}

/* MENU */
.menu{
    background-color: var(--base_grey_primary);
    background: url("images/menu_BG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* shadow queue: right, left, top 
    box-shadow: inset 0 81vw 29vw -38vw rgba(11, 11, 11, 0.8);*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .content{
    color: var(--base_beige_secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 10vh;
}

.menu .content .text{
    font-size: 5vh;
    width: 70%;
    text-align: center;
    color: var(--base_beige_primary);
    display: none;
}

.main_dishes{
    width: 70%;
    line-height: 6vh;
    text-align: left;
    font-size: 4vh;
}

.dish{
    padding-top: 8vh;
    padding-bottom: 1vh;
    font-size: 5vh;
    color:var(--base_beige_primary);
    font-family: var(--modern_font_family);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5vw;

}

.scroll_nav{
    display: relative;
    z-index: 1;
    width: 100%;
    height: 60%;
    position: fixed;
    color: #0b0b0b;
     /* shadow queue: right, left, top */
    box-shadow: inset 0 39vw 11vw -25vw rgb(11, 11, 11);
}

/* RESPONSIVENESS */
@media only screen and (max-width: 884px) {

    .navigation a {
        display: none;
    }

    .icon {
        visibility: visible;
        opacity: 1;
    }

    .navigation.open {
        position: absolute;
        right: 0;
        top: 24%;
        padding-top: 10%;
        padding-right: 9%;
        padding-bottom: 5%;
        border-radius: 2%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .navigation.open a {
        z-index: 20;
        display: block;
        text-align: right;
        position: relative;
    }

    .home{
        /* shadow queue: right, left, top */
       box-shadow: inset -58vw 0 61vw -9vw rgba(0, 0, 0, 0.8), 
                   inset 13vw 0 44vw 9vw rgba(0, 0, 0, 0.8), 
                   inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
    }

    .scroll_nav{
        display: relative;
        z-index: 1;
        width: 100%;
        height: 60%;
        position: fixed;
        color: #0b0b0b;
         /* shadow queue: right, left, top */
        box-shadow: inset 0 58vw 15vw -29vw #0b0b0b;
    }

    .main_dishes{
        width: 90%;
    }
}

.rehistory, .retoday {
    z-index: -1;
    height: calc(100vh);
    width: 100%;
    color: var(--base_beige_secondary);
    background-color: var(--base_grey_primary);
    display: flex;
    flex-direction: column;
    /* shadow queue: right, left, top */
    box-shadow: inset -41vw 0 31vw -9vw rgba(0, 0, 0, 0.8), 
                inset 4vw 0 11vw -5vw rgba(0, 0, 0, 0.8), 
                inset 0 9vw 16vw -6vw rgba(0, 0, 0, 0.8);
}

.rehistory .recontent, .retoday .recontent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

.rehistory .recontent .reimg{
    width: 80vw;
    height: 50vw;
    background: url("images/lee.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset 12vw -25vw 37vw 0 rgba(12, 7, 5, 0.8);
    margin-bottom: 74%;
}

.retoday .recontent .reimg{
    width: 80vw;
    height: 50vw;
    background: url("images/brooklyn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* shadow queue: right, left, top */
    box-shadow: inset 12vw -25vw 37vw 0 rgba(12, 7, 5, 0.8);
    margin-bottom: 74%;
}

.rehistory .recontent .retext, .retoday .recontent .retext{
    width: 76vw;
    font-size: 3.7vw;
    text-align: justify;
    position: absolute ;
    margin-top: 44%;
}

.rehistory .l1, .retoday .l1{
    font-size: 5vw;;
}

  

