@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700;6..96,800&display=swap');

:root{
    --base_font_color: #262626;

    --base_grey_primary: #262626;
    --base_grey_secondary: #505050;

    --base_beige_primary: #9a866f;
    --base_beige_secondary: #E6DCD2;

    --base_green_primary: #63561D;
    --base_green_secondary: #C3AC63;

    --base_font_family: 'Bodoni Moda', serif;
}

body, html{
    height: 100%;
    background-color: var(--base_grey_primary);
    margin: 0;
    color: var(--base_grey_primary);
    font-family: var(--base_font_family);  
}

body{
    background: url("images/noodle.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset -50vw 0 35vw -2vw rgba(0,0,0,0.8);
}

/* header woth navigation and logo */

header{
    padding: 20px;
    height: 10%;
    box-shadow: inset 0 4vw 3vw -3vw rgba(0,0,0,0.8);
    text-align: center;
}

nav{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

header a{
    text-decoration: none;
    color: var(--base_beige_primary);
    font-size: 5vh;
    margin-left: 20px;
    margin-right: 20px;
}

#logo{
    position: absolute;
    margin: 0;
    left: 2%;
    color: #E6DCD2;
}

/* page indicator left side */

.page_indicator{
    color: var(--base_beige_primary);
    font-size: 8vh;
    font-weight: 700;
    width: 5%;
    text-align: center;
    position: absolute;
    top: 45%;
    line-height: 50%;
}

#indicator_1, #home{
    color: var(--base_beige_secondary);
}

/* landing page */

.first{
    height: 100%;
}

.first .content{
    color: var(--base_beige_secondary);
    font-size: 12vh;
    width: 95%;
    margin-top: 20%;
    align-content: right;
    line-height: 90%;
}

.history{
    float: right;
}

.history .primary{
    font-size: 5vh ;
    line-height: 90%;
}

.history .secondary{
    font-size: 3vh ;
    line-height: 80%;
}

.second{
    height: 100%;
}

.third{
    height: 100%;
    background-color: var(--base_grey_secondary);
}